<%- include("partials/header"); -%>

    <form action="/about" method="post">
        <h1>About</h1>
        
      <div class="about" id="about">
        <h1>About Us</h1>
        <p>In this pandemic,we are suffering a lot and the number of deaths are hiking day by day.</p>
        <p>Many are losing their lives due to inadequate facilities such as shortage of oxygen cylinders,beds,etc.
        This website will help people to get proper facilities and treatment,so that,atleat some lives could be saved.</p>      
      </div>

    </form>
    
<%- include("partials/footer"); -%>